#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Asegurarse de que los títulos no tengan color azul */
h1, h2, h3, h4, h5, h6 {
  color: #000000 !important; /* Fuerza el color negro */
}

/* Título principal "Bienvenido a HJCC" */
h1.display-4 {
  color: #000000 !important; /* Título principal en negro */
}

/* Si tienes enlaces que se vuelven azules por Bootstrap */
a {
  color: #000000 !important; /* Enlaces en negro */
}

a:hover {
  color: #808080 !important; /* Enlaces en gris al pasar el ratón */
}

/* Estilo del cuadro flotante */
.floating-box {
  position: fixed;
  bottom: 20px;  /* Posición desde la parte inferior */
  left: 20px;    /* Posición desde la parte izquierda */
  background-color: #000;  /* Fondo negro */
  color: white;  /* Texto blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);  /* Sombra para darle profundidad */
  z-index: 9999;  /* Asegura que el cuadro esté sobre otros elementos */
  max-width: 300px;  /* Limita el ancho del cuadro */
  width: 100%;
  font-size: 14px; /* Tamaño de texto */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los elementos */
}

/* Estilo del botón dentro del cuadro */
.floating-box .btn {
  background-color: #007bff; /* Fondo azul */
  color: white;  /* Texto blanco */
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.floating-box .btn:hover {
  background-color: #0056b3; /* Fondo azul oscuro en hover */
}

/* Estilo de la X de cierre */
.floating-box .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.floating-box .close-btn:hover {
  color: #ccc;  /* Color en hover */
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .floating-box {
    max-width: 100%;
    bottom: 10px;  /* Ajuste de la posición en pantallas pequeñas */
    left: 10px;
    padding: 15px;
  }
}
